a {
    text-decoration: none;
}

#structure {
    height: 300px;
}

#samPhoto {
    height: 250px !important;
    overflow: hidden;
    object-fit:cover;
}

#homeCard {
    height: 450px;
}

#logo {
    height:60px;
    width:120px;
    border-radius: 5px;
    margin:1px;
}